################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
bin/
obj/
/Debug
/TheGreatDispatchCpp/Debug
/TheGreatDispatchCpp/x64/Release
/x64/Release
*.vspx
